@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');


@media screen and (min-width: 90px){
    .page{
      width: 100%;
      display: block;
margin-left: auto;
margin-right: 120px;
margin-bottom: 0;
    }
    .photo{
      display: block;
      margin-left: auto;
      margin-right:120px;
    }
    h2{
        margin-right:120px;
    }
    .sec-droite{
        margin-right:120px;
    }
  }
body{
    background-color: gray;
    min-width: auto;
}



.page{
    width: 780px;
    margin: auto;
    font-family:'Raleway', sans-serif;
    font-size: 16px;
    border: 5px solid #3388cc;
    border-radius: 10px;
    box-shadow: 2px 4px 3px black;
    padding: 20px;
    background-color: aliceblue;
}

.infoPhoto{
    height: 250px;
    margin-right: 2px;
}

.info{
    float: left;
}

.photo{
    float: right;
}

.section{
margin-bottom:70px;
text-align: justify;
}

.section:hover{
    color:#00AA00;
}

.sec-gauche{
    float: left;
    font-weight: bold ;
    font-size:20px;
}

.sec-droite{
    margin-left: 150px;
    margin-top: 39px;
    margin-right: 12px;
}

h2{
    font-size: 28px;
    color: #3388bb;
    border-bottom: 3px solid #3388bb;
    margin-right: 12px;
}

.duree{
    font-weight: normal;
    font-style: italic;
    font-size: 16px;
}

.titre{
    font-weight: bold;
    font-size: 20px;
}

#forma-gauche p {
    margin-bottom: 35px;
}

#exp-gauche p{
    margin-top: 37px;
}
